.table tbody tr td ul li {
    margin-left: 10px;
}

.card-header a button {
    float: right;
    background-color: #0099FF;
    color: #fff;
    border: 1px solid #fff;
    width: 90px;
}

.footer-add {
    float: right;
    margin-left: 20px;
}

.footer-delete {
    float: right;
}

.them {
    float: right;
}