ul.breadcrumb-header li + li:before,
ul.breadcrumb-header li a {
  color: white;
}

.slider img {
  width: 100%;
  max-height: 395px;
  max-width: 100%;
}
.slider {
  position: relative;
}
#owl-slider {
  position: relative;
  max-height: 400px;
}
#owl-slider .owl-dots {
  position: absolute;
  bottom: 5px;
  right: 0;
  left: 0;
}

#owl-slider .owl-dot span {
  background-color: rgb(16, 83, 111);
}
#owl-slider .owl-dot.active span {
  background-color: rgb(15, 158, 216);
}

#owl-slider .owl-nav {
  position: absolute;
  top: 45%;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
#owl-slider .owl-nav button {
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
  opacity: 0.5;
  z-index: -1;
}
#owl-slider .owl-nav button i {
  z-index: 1;
  font-size: 10px;
}

#owl-slider .owl-nav button:hover {
  opacity: 1;
}
#owl-slider .owl-nav button:hover {
  color: black;
}

.service-item {
  padding: 40px 5px;
  box-shadow: 0 0 5px 1px rgb(182, 182, 182);
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 15px 0; */
}
.service-icon {
  max-width: 15%;
}
.service-icon img {
  max-width: 55px;
  width: 100%;
}
.service-text {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}
.service-text span:first-child {
  text-transform: uppercase;
  font-weight: bold;
}

.service-text span:last-child {
  color: rgb(147, 147, 147);
}
.sidebar-banner,
.product-banner {
  overflow: hidden;
  position: relative;
}
.sidebar-banner img,
.product-banner img {
  max-width: 100%;
  transition: 0.5s ease;
}
.sidebar-banner img {
  border-radius: 10px;
}
.shadow-banner::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.3s ease;
  content: "";
}
.sidebar-banner:hover .shadow-banner::before,
.product-banner:hover .shadow-banner:before {
  -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.4) inset;
  box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.4) inset;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 6px;
}
.sidebar-banner:hover img {
  border-radius: none;
  transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
}

.blog-banner > h2 {
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  background-color: rgb(15, 158, 216);
  text-align: center;
  padding: 10px 0;
  border-radius: 5px 5px 0 0;
  margin: 0;
}
.blog-content ul {
  padding: 0 15px;
  border: solid 1px rgb(15, 158, 216);
}
.blog-content ul > li {
  padding: 15px 0 25px;
}
.blog-image {
  width: 100%;
  overflow: hidden;
}
.blog-content img {
  max-width: 95%;
  display: block;
  margin: auto;
  transition: 0.5s ease;
}
.blog-item-child h3 {
  font-size: 18px;
  margin: 10px 0;
}
.blog-info {
  display: flex;
  font-size: 13px;
  margin: 10px 0 5px 0;
}
.blog-info > div:first-child {
  margin-right: 10%;
}
.blog-des {
  font-size: 15px;
  margin-bottom: 20px;
}
.next-info {
  text-align: left;
}
.next-info a {
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3s ease;
  border: solid 1px rgb(15, 158, 216);
  /* margin-bottom: 10px; */
  display: inline-block;
}
.blog-item:not(:last-child) {
  border-bottom: solid 0.5px rgb(147, 147, 147);
}
.next-info a:hover {
  background-color: white;
  color: black;
  border: solid 1px black;
}
.blog-image:hover img {
  transform: scale(1.05, 1.05);
}
.section-heading {
  position: relative;
  margin: 20px 0;
}
.section-heading::before {
  content: "";
  width: 100%;
  position: absolute;
  top: 50%;
  border-top: 1px solid rgb(15, 158, 216);
  z-index: -1;
}
.section-heading h2 {
  color: rgb(15, 158, 216);
  margin: auto;
  text-align: center;
}
.section-heading h2 span {
  background-color: white;
  font-size: 26px;
  padding: 0 20px;
}
.blog-index {
  margin-bottom: 20px;
}

/*  product list */

.product-list > ul > li {
  padding-bottom: 15px;
}
.product-list .product-item {
  border: solid 0.5px rgb(147, 147, 147);
  border-radius: 5px;
}
.product-image {
  position: relative;
  overflow: hidden;
}
.product-image img {
  max-width: 100%;
  border-radius: 5px;
  display: block;
  margin: auto;
}
.product-info {
  padding: 10px 0;
}
.product-info h3 {
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
}
.product-price {
  text-align: center;
}
.product-price .price {
  color: rgb(15, 158, 216);
  font-weight: bold;
}
.product-price del {
  font-size: 13px;
}
.label-sale {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  background-color: rgb(15, 158, 216);
  top: 5px;
  left: 5px;
  text-align: center;
  line-height: 3.5;
}

.quick-view a {
  position: absolute;
  height: 35px;
  width: 35px;
  display: inline-block;
  text-align: center;
  line-height: 2.1;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  opacity: 0;
  top: -40px;
}
.quick-view a:first-child {
  transition: 0.3s ease-out;
  left: 27%;
}
.quick-view a:last-child {
  transition: 0.3s ease-out;
  left: 52%;
}
.product-list .product-item:hover a:first-child {
  transition-delay: 0.3s;
}
.product-list .product-item:hover .quick-view a {
  top: 50%;
  opacity: 1;
  transition: 0.5 ease !important;
}
@media (max-width: 767px) {
  .service-item {
    margin-bottom: 15px !important;
  }
}

@media only screen and (min-width: 260px) and (max-width: 319px) {
}
@media only screen and (min-width: 320px) and (max-width: 359px) {
}
@media only screen and (min-width: 360px) and (max-width: 374px) {
}
@media only screen and (min-width: 375px) and (max-width: 410px) {
}
@media only screen and (min-width: 411px) and (max-width: 449px) {
}
@media only screen and (min-width: 450px) and (max-width: 576px) {
}
@media only screen and (min-width: 577px) and (max-width: 767px) {
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .blog-banner h2 {
    font-size: 16px;
  }
  .blog-item-child h3 {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (max-width: 767px) {
  .banner-slider-index {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }
}
