:root {
  --color_one: rgb(15, 158, 216);
  --color_two: #333333;
  --color_three: #aaa;
  --color_four: rgb(219, 219, 219);
  --color_five: #777;
  --color_six: #ccc;
  --color_sevent: #f6f6f6;
  --color_eight: #efefef;
  --color_nine: rgb(255, 121, 12);
  --color_ten: #b5b5b5;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(219, 219, 219);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(98, 98, 98);
  border-radius: 10px;
}
/* 
/* Handle on hover 
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
} */
body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #333333;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}
input,
button,
button:focus {
  outline: none;
}
button {
  border: none;
}
[class*="col-"] {
  padding-left: 7.5px;
  padding-right: 7.5px;
  align-items: center;
}
.row {
  margin-left: -7.5px;
  margin-right: -7.5px;
}
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a:hover {
  color: #0f9ed8;
  text-decoration: none;
}

a {
  color: #333333;
}
a:focus {
  text-decoration: none !important;
  outline: none;
}
.button {
  background-color: rgb(15, 158, 216);
  color: white;
}
.blue_light {
  color: rgb(15, 158, 216);
}
.container {
  padding: 0 7.5px;
}

/* 
 */

.logo {
  width: 100%;
}

.logo img {
  max-width: 100%;
  height: auto;
}
.input_search {
}
.input_search input {
  width: 80%;
  height: 100%;
  max-height: 55px;
  border: 0.5px solid var(--color_five);
}
.input_search input::placeholder {
  font-size: 12px;
}
.input_search .input-text {
  max-width: 20%;
  width: 20%;
  height: 100%;
  max-height: 55px;
}
.input_search button {
  font-size: 12px;
  height: 100%;
  text-align: center;
  display: block;
  padding: 0 10px;
}

.user-cart-box,
.input_search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}
.user-icon,
.cart-icon {
  float: left;
  background-repeat: no-repeat;
  background-size: auto;
  width: 45px;
  height: 45px;
}
.user-icon {
  background-image: url(https://theme.hstatic.net/1000181509/1000452638/14/user.png?v=33);
}
.cart-icon {
  background-image: url(https://theme.hstatic.net/1000181509/1000452638/14/cart.png?v=33);
}
.user-text,
.cart-text {
  font-size: 12px;
  float: right;
}
.user-text strong,
.cart-text strong {
  font-weight: bold;
}
.cart-text strong span::before {
  content: "(";
}
.cart-text strong span::after {
  content: ")";
}
.cart-text {
  display: flex;
  flex-direction: column;
}
.menu {
  background-color: rgb(15, 158, 216);
}
.category-drop {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  display: inline-block;
  position: relative;
  background-color: rgb(0, 92, 137);
  cursor: pointer;
  width: 100%;
}

.category .category-content.active {
  overflow: visible;
  transition: 1s ease;
  height: 100vh;
}

.category .category-content {
  overflow: hidden;
  height: 0;
  display: block;
}
.category-drop::before {
  color: #ffffff;
  content: "\f0c9";
  font: 18px "FontAwesome";
  position: absolute;
  right: 20px;
  top: 10px;
}

.category .category-content {
  position: absolute;
  width: 95%;
  z-index: 200;
  transition: 1s ease;
}
.category .category-content ul {
  background-color: white;
  /* height: 0; */
}

.category-content-child-mega ul {
  border: solid 0.5px rgb(180, 189, 193);
}
.category-content-child {
  border: solid 0.5px rgb(180, 189, 193);
  padding: 7px 20px;
  position: relative;
}

.category-content-child:not(:last-child) {
  border-bottom: none;
}
.category-content-child img {
  margin-right: 10px;
}
/* .category:hover .category-content {
  display: block;
} */

.category-content-child:hover {
  background-color: #f9f9f9;
}
.category-content-child::before {
  content: "";
  background-color: rgb(15, 158, 216);
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.category-content-child:hover::before {
  width: 3px;
}
.category-content-child a {
  width: 100%;
  display: inline-block;
}

.category-content-child-mega {
  visibility: hidden;
  position: absolute;
  width: 60%;
  z-index: 1;
  top: 0;
  right: -100%;
  transition: 0.5s;
  opacity: 0;
  background-color: white;
}

.category-content-child:hover .category-content-child-mega {
  display: block;
  right: -60%;
  opacity: 1;
  visibility: visible;
}
.category-content-child-mega li {
  padding: 10px;
}
.menu-main > ul {
  display: flex;
  align-items: center;
}
.menu-child {
  margin-left: 5%;
}
.menu-child > a {
  width: 100%;
  line-height: 3;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.menu-child-mega {
  position: absolute;
  width: 20%;
  top: 100%;
  box-shadow: 2px 2px 10px 1px #ccc;
  visibility: hidden;
  z-index: 100;
  background-color: white;
}

.menu-child:hover .menu-child-mega {
  visibility: visible;
}
.menu-child-mega li {
  padding: 10px;
}

/*  */
.header-mobile {
  display: none;
  min-height: 150px;
  border-bottom: 1px solid var(--color_six);
}
.header-mobile > .container > .row {
  margin-bottom: 10px;
}
.logo-mobile img {
  max-width: 285px;
  width: 100%;
  min-width: 200px;
}
.menu-icon {
  display: flex;
  align-items: center;
  height: 100%;
}
.menu-icon > button {
  /* margin-top: 50%; */
  font-size: 25px;
  background-color: white;
}
.cart-header {
  text-align: right;
  display: flex;
  align-items: center;
  height: 100%;
}
.cart-header a {
  position: relative;
  display: inline-block;
}
.cart-bag {
  position: absolute;
  right: 0;
  top: -10px;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  text-align: center;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}
.menu-icon:not(div:nth-child(2)) {
  text-align: center;
}

.mobile-wrap-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-mobile {
  text-align: center;
  max-width: 90%;
  width: 90%;
}
.logo-mobile a {
  display: inline-block;
}

.input-search-mobile {
  display: flex;
}
.input-search-mobile input {
  padding: 10px;
  width: 93%;
}
.input-search-mobile button {
  padding: 10px 17px;
}
.header-mobile input {
  border: 0.5px solid var(--color_five);
  border-right: none;
}

/* breadcrumb  */
ul.breadcrumb-header {
  list-style: none;
}

ul.breadcrumb-header li {
  display: inline;
}
.login-mobile {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.login-mobile::after {
  content: "\003E";
}
ul.breadcrumb-header li + li:before {
  padding: 8px;
  content: "/\00a0";
}

ul.breadcrumb-header li a {
  text-decoration: none;
}

.menu-mobile-bottom li {
  border: solid 1px var(--color_three);
}
.menu-mobile-bottom > ul > li:not(:last-child),
.menu-mobile-drop li {
  border-bottom: none;
}
.menu-mobile-drop ul {
  display: none;
  transition: 1s ease;
}
.menu-mobile-drop li a {
  padding: 10px 20px !important;
}
.menu-mobile-bottom li a {
  width: 100%;
  display: inline-block;
  padding: 10px;
  color: #7b7b7b;
  font-size: 16px;
}
.menu-mobile-drop {
  position: relative;
}
#drop-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  text-align: center;
  line-height: 2.5;
}
#drop-menu:before {
  content: "\f067";
  font-family: fontawesome;
  color: var(--color_two);
  font-size: 12px;
}
.menu-mobile-drop ul.active {
  display: block;
}

#drop-menu.active:before {
  content: "\f068";
}

/*  */
.breadcrumb-page {
  background-color: rgb(245, 245, 245);
  padding: 5px;
}
.breadcrumb-page .active {
  color: #777;
}
.breadcrumb-page li + li:before {
  padding: 8px;
  content: "/\00a0";
  color: #ccc !important;
}

/*  */
@media (min-width: 1200px) {
  .container {
    max-width: 1190px;
  }
}

.quick-view a:hover {
  background-color: rgb(15, 158, 216);
}
.show-more {
  text-align: center;
  margin-bottom: 20px;
}
.show-more a {
  color: rgb(15, 158, 216);
}
#blog-index-list,
.blog-index {
  position: relative;
}

.blog-index-item img {
  max-width: 100%;
  transition: 0.5s ease;
}

.cart-button a {
  background-color: #ff7200;
  color: white;
  /* height: 40px; */
  padding: 10px;
  display: inline-block;
  margin-bottom: 15px;
  border-radius: 5px;
}
.cart-button a i {
  margin-left: 5px;
}
.cart-button {
  text-align: center;
  display: none;
}

.user_login,
.cart_link {
  position: relative;
}
.user-box {
  width: 250%;
}
.cart-box {
  width: 280%;
}
.user-box,
.cart-box {
  position: absolute;
  background-color: white;
  top: 100px;
  max-width: 500px;
  right: 0;
  z-index: 100;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 1);
  visibility: hidden;
  transition: 0.3s ease;
  opacity: 0;
  padding: 10px 0;
}
.user-box .arrow,
.cart-box .arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  border-bottom: 8px solid white;
  top: -8px;
  right: 30%;
}

.user-box-list li {
  text-align: center;
  padding: 0 10px;
}
.user-box-list li:not(:last-child) {
  margin-bottom: 10px;
}
.user-box-list a {
  color: white;
  font-style: italic;
  width: 100%;
  display: inline-block;
  padding: 10px;
}
.user-box-list li:first-child a,
.user-box-list li:nth-child(2) a {
  background-color: rgb(255, 121, 12);
  border-radius: 5px;
}
.user-box-list li:nth-child(4) a {
  background: #ea4335;
}
.user-box-list li:nth-child(3) a {
  background: #4267b2;
}
.user_login:hover .user-box,
.cart_link:hover .cart-box {
  visibility: visible !important;
  top: 50px;
  opacity: 1;
}
.cart-box-button a:nth-child(1) {
  background-color: rgb(255, 121, 12);
  margin-right: 5px;
}
.cart-box-button a:nth-child(2) {
  background-color: var(--color_one);
}
.cart-box-button {
  display: flex;
  padding: 10px;
}
.cart-box-button a {
  width: 50%;
  display: inline-block;
  text-align: center;
  color: white;
  padding: 10px;
}

.detail-product-items {
  width: 100%;
}
.detail-product-items ul {
  width: 100%;
  max-height: 350px;
  overflow: auto;
}
.detail-product-items li > div {
  max-height: 110px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.detail-product-items li {
  padding: 0 10px;
  display: none;
}
.detail-product-items li:not(:last-child) > div {
  border-bottom: 1px dashed var(--color_six);
}
.detail-product-items .cart-item-image {
  max-width: 25%;
  width: 25%;
  height: auto;
}
.detail-product-items .cart-item-image img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.detail-product-items .cart-item-info {
  width: 70%;
  max-width: 70%;
  position: relative;
}
.price-info span + span:before {
  content: "\00D7";
}
.clear-item::before {
  content: "\00D7";
  font-weight: 900;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
}
.cart-empty,
.item1 {
  display: none;
}
.cart-empty {
  padding: 0 10px;
  text-align: center;
}
.total-items {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 18px;
}
.cart-box .active {
  display: block;
}

/*  */
/* @media (min-width: 992px) {
} */
@media (max-width: 991px) {
  .body-right {
    display: none;
  }
  .cart-button {
    display: block !important;
  }
  .menu,
  .top-logo {
    display: none;
  }
  .header-mobile {
    display: block;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 760px;
  }
}
@media (max-width: 1999px) and (min-width: 992px) {
  .input_search input {
    width: 80%;
    padding: 15px 10px;
  }

  .input_search .input-group-prepend {
    max-width: 20%;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
}

@media (max-width: 350px) {
  .logo-mobile {
    width: 80%;
  }
}

@media only screen and (max-width: 992px) {
  .breadcrumb-page {
    display: none;
  }
}

/*  */
#topScroll {
  background-color: rgba(0, 0, 0, 0);
  position: fixed !important;
  border: none;
  cursor: pointer;
  right: 0;
  bottom: 0;
  z-index: 400;
  display: none;
  width: 0;
  height: 0;
  border-bottom: 70px solid var(--color_one);
  border-left: 70px solid transparent;
  transition: 0.3s ease;
  font-size: 16px;
}
#topScroll > div {
  position: fixed;
  bottom: 5px;
  right: 10px;
  color: white;
}
#topScroll:hover {
  border-bottom: 100px solid var(--color_one);
  border-left: 100px solid transparent;
  font-size: 20px;
}
